<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>
        Thank you!
    </title>

    <style>
        .field{
            margin-bottom: 10px;
        }
      </style>
  
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div class="row" style="width: 700px;display: flex;align-items: center;justify-content: center;">
        <div class="col s12">
            <div class="card #e8f5e9 green lighten-5">
                <div class="card-content">
                    <span class="card-title">Thank you <%= email %>!</span>

                    <blockquote>
                        <div class="field">
                            <label>Course Code </label>
                            <p><%= evaluation.courseCode %></p>
                        </div>
                        <div class="field">
                            <label>Course Name </label>
                            <p><%= evaluation.courseName %></p>
                        </div>
                        <div class="field">
                            <label>Favorite Topic </label>
                            <p><%= evaluation.favTopic %></p>
                        </div>
                        <div class="field">
                            <label>Favorite Assignment </label>
                            <p><%= evaluation.favAssignment %></p>
                        </div>
                        <div class="field">
                            <label>Comment </label>
                            <p><%= evaluation.comment %></p>
                        </div>
                        <div class="field">
                            <label>Rating </label>
                            <p><%= evaluation.rating %></p>
                        </div>
                    </blockquote>

                    <form method="post">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>